@model CalcoloViewModel
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <form asp-controller="Home" asp-action="Calcolo" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()

        <label for="contratto ">tipologia di contratto :</label>
        <select id="contratto " name="contratto">
            <option value="nessuna">tempo indeterminato </option>
            <option value="under30">tempo determinato</option>
            <option value="donna">aprendistato</option>
            <option value="under50">collaboratore / aministratore / co. co .co</option>
        </select>

        <div class="mb-3">
            <strong>RAL</strong>
            <input type="number" name="lordo" value="" />
        </div>

        <div class="text-end">
            <input type="submit" class="btn btn-small btn-info" value="Salva">
        </div>
    </form>


    <label for="agevolazione">agevolazione contributiva:</label>
    <select id="agevolazione" name="agevolazione">
        <option value="nessuna">Nessuna agevolazione</option>
        <option value="under30">Under 30</option>
        <option value="donna">Donna</option>
        <option value="under50">Under 50</option>
    </select>

    <label for="detrazione">detrazione fiscale:</label>
    <select id="detrazione" name="detrazionee">
        <option value="nessuna">Nessuna detrazione</option>
        <option value="under30">bonus inpatriati</option>
        <option value="donna">bonus inpatriati(con figli)</option>
    </select>

    @if (Model != null)
    {
        <p>Lordo: @Model.Lordo</p>
        <p>Netto: @Model.Netto</p>
        <p>Mese Lordo 12: @Model.MeseLordo</p>
        <p>Mese Netto 12: @Model.MeseNetto</p>
        <p>Mese Lordo 13: @Model.MeseLordo13</p>
        <p>Mese Netto 13: @Model.MeseNetto13</p>
        <p>Mese Lordo 14: @Model.MeseLordo14</p>
        <p>Mese Netto 14: @Model.MeseNetto14</p>
    }
    else
    {
        <p>Non ci sono dati da mostrare.</p>
    }



</div>