@model CalcoloViewModel
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <form asp-controller="Home" asp-action="Calcolo" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()


        <!--

        tipologia di contratto 
        tempo indeterminato 
        tempo determinato 
        aprendistato
        collaboratore / aministratore / co. co .co
        part

        -->
        <div class="mb-3">
            <strong>Nome:</strong>
            <input type="number" name="lordo" value="" />
        </div>

        <div class="text-end">
            <input type="submit" class="btn btn-small btn-info" value="Salva">
        </div>
    </form>
    <!--

    agevolazioni contributive 
    1 nessunio 
    2 under 30
    3 donna 
    4 under 50


    -->
    <!--

    detrazione fiscale 
    1 nessuna detrazione 
    2 bonus inpatriati
    3 bonus inpatriati(con figli)

    -->

    <!--

    numero delle mensilita 12 13 14 
    -->
    @if (Model != null)
    {
        <p>Lordo: @Model.Lordo</p>
        <p>Netto: @Model.Netto</p>
        <p>Mese Lordo: @Model.MeseLordo</p>
        <p>Mese Netto: @Model.MeseNetto</p>
    }
    else
    {
        <p>Non ci sono dati da mostrare.</p>
    }

    <!--
    inserisco il lordo dello <a href="#"></a>
    restituisco il netto 
    il netto del costo dell'inprenditore
    suddivisione 13 o 14 mesilita

    -->

</div>